<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">City</th>
    <th scope="col">6 AM</th>
    <th scope="col">12 PM</th>
    <th scope="col">6 PM</th>
    <th scope="col">12 AM</th>
  </tr>
  </thead>

  <tr *ngFor="let weather of weatherList | async">
    <td>{{ weather.city }}</td>
    <td>{{ weather.temp_6am }} °C</td>
    <td>{{ weather.temp_12pm }} °C</td>
    <td>{{ weather.temp_6pm }} °C</td>
    <td>{{ weather.temp_12am }} °C</td>
</tr>
  </tbody>
</table>

<tbody>
 
</tbody>